<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link href="https://unpkg.com/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>

<div th:replace="admin/header-admin"></div>
<div class="container-fluid ps-0">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div th:replace="admin/sidebar.html"></div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-7 col-md-8 col-sm-12 mt-3 px-5">
            <div class="table-responsive">
                <div class="table-wrapper"style="min-width: 700px">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Quản lý <b>danh mục sản phẩm</b></h2>
                            </div>
                            <div class="col-sm-6">
                                <a href="#addProductModal" id="addCategory" class="btn btn-success" data-bs-toggle="modal">
                                    <span>Thêm danh mục sản phẩm</span></a>
                                <a href="#deleteEmployeeModal" class="btn btn-danger" data-bs-toggle="modal">
                                    <span>Xóa</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                            </th>
                            <th>Tên danh mục</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${categories}">
                            <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
                            </td>
                            <td th:text="${category.getName()}"></td>
                            <td>
                                <a href="#addProductModal" th:data-id="${category.getId()}" data-bs-target="#addProductModal" data-bs-toggle="modal" class="edit" >
                                    <i class="material-icons" data-bs-toggle="tooltip" title="Edit">&#xE254;</i>
                                </a>
                                <a href="#deleteEmployeeModal" th:data-id="${category.getId()}" data-bs-target="#deleteEmployeeModal" data-bs-toggle="modal">
                                    <i class="bi bi-trash" title="Delete" data-bs-toggle="tooltip" style="color: red"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <ul class="pagination">
                            <li class="page-item">
                                <a th:if="${categories.hasPrevious()}" class="page-link" th:href="@{/admin/category(page=0)}">First</a>
                            </li>
                            <li class="page-item" th:classappend="${!categories.hasPrevious()}  ? 'disabled' : ''">
                                <a class="page-link" th:if="${categories.hasPrevious()}"
                                   th:href="@{/admin/category(page=${categories.previousPageable().pageNumber})}">Previous</a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(0, categories.totalPages - 1)}"
                                th:class="${i == categories.number ? 'page-item active' : 'page-item'}"
                                th:if="${i >= categories.number - 2 and i <= categories.number + 2}">
                                <a th:if="${i >= 0}" class="page-link" th:href="@{/admin/category(page=${i})}" th:text="${i + 1}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!categories.hasNext()} ? 'disabled':''">
                                <a class="page-link" th:if="${categories.hasNext()}"
                                   th:href="@{/admin/category(page=${categories.nextPageable().pageNumber})}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/admin/category(page=${categories.totalPages - 1 > 0 ? categories.totalPages - 1 : 0})}">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="deleteEmployeeModal" class="modal fade" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Xóa danh mục sản phẩm</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn danh mục sản phẩm này không?</p>
                    <p class="text-warning"><small>Thao tác này sẽ không thể hoàn lại.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Hủy">
                    <input id="deleteCategory" type="submit" class="btn btn-danger" data-bs-dismiss="modal" value="Xóa">
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Thêm mã danh mục sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="display: none" id="idCategory"></p>
                <form method="POST" action="/admin/category">
                    <div class="mb-3">
                        <label  class="form-label">Tên danh mục sản phẩm</label>
                        <input type="text" id="name" name="name" class="form-control"  placeholder="Nhập tên danh mục sản phẩm">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mô tả</label>
                        <textarea id="description" name="description" type="text" class="form-control"
                                  placeholder="Nhập nội dung bài viết"></textarea>
                    </div>
                    <div class="mb-3" id="giamgia">
                        <label for="productPrice" class="form-label">Giảm giá</label>
                        <select class="form-select" name="promotion_id" id="productPrice">
                            <option value="null">Chọn phân loại</option>
                            <option th:each="promotion : ${promotions}" th:value="${promotion.getId()}" th:text="${promotion.getName()}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary" id="add">Lưu</button>
                        <button style="display: none" type="button" class="btn btn-primary" id="update" data-bs-dismiss="modal">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer.html"></div>

<script>

    const name = document.getElementById('name')
    const description = document.getElementById('description')
    const type = document.getElementById('productPrice')
    const edit = document.querySelectorAll('.edit')
    const add = document.getElementById('add')
    const update = document.getElementById('update')
    const addCategory = document.getElementById('addCategory')
    const addProductModalLabel = document.getElementById('addProductModalLabel')
    const idCategory = document.getElementById('idCategory')
    const deleteEmployeeModal = document.getElementById('deleteEmployeeModal')
    const deleteCategory = document.getElementById('deleteCategory')
    const giamgia = document.getElementById('giamgia')
    let categoryId

    edit.forEach(edt => {
        edt.addEventListener('click', function() {
            let id = this.getAttribute('data-id')
            $.ajax({
                url: '/api/category/' + id,
                method: 'GET',
                dataType: 'json',
                success: function(response) {
                    const data = response.data
                    name.value = data.name
                    description.value = data.description
                    type.value = response.categoryId
                    addProductModalLabel.innerHTML = response.button
                    add.style.display = 'none'
                    update.style.display = 'block'
                    idCategory.innerHTML = data.id
                    giamgia.style.display = 'block'
                    name.setAttribute('readonly', 'true')
                },
                error: function(error) {
                    console.log(error)
                }
            })
        })
    })

    addCategory.addEventListener('click', function() {
        add.style.display = 'block'
        update.style.display = 'none'
        addProductModalLabel.innerHTML = 'Thêm danh mục sản phẩm'
        name.value = ''
        description.value = ''
        type.value = ''
        giamgia.style.display = 'none'
        name.removeAttribute('readonly')
    })

    update.addEventListener('click', function() {
        const id = idCategory.innerHTML
        const data = {
            description: description.value,
            promotion_id: productPrice.value
        }
        $.ajax({
            url: '/api/category/' + id,
            method: 'PUT',
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function(response) {
                alert('Cập nhật thành công!')
                window.location.reload()
            },
            error: function(error) {
                console.log(error)
            }
        })
    })

    deleteEmployeeModal.addEventListener('show.bs.modal', function(event) {
        let button = event.relatedTarget
        categoryId = button.getAttribute('data-id')
    })

    deleteCategory.addEventListener('click', function() {
        $.ajax({
            url: '/api/category/' + categoryId,
            method: 'DELETE',
            dataType: 'json',
            success: function(response) {
                alert("Xoá thành công")
                window.location.reload()
            },
            error: function() {
                console.log(error)
            }
        })
    })

</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>