<!-- Footer -->
<div class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <h5 class="text-center">Hotline</h5>
                <div class="row mt-3 px-2 mx-5">
                    <div class="col ">
                        <p>Hotline mua hàng:</p>
                        <p>Hotline CSKH:</p>
                        <p>Hotline bảo hành:</p>
                    </div>
                    <div class="col">
                        <p>1234 6577</p>
                        <p>1234 6578</p>
                        <p>1234 6579</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">Chính sách</h5>
                <div class="px-5 mx-5">
                    <ul class="list-unstyled text-start mx-3 mt-3">
                        <li><a href="#">Chính sách <b>bảo hành</b></a></li>
                        <li><a href="#">Chính sách <b>bảo mật</b></a></li>
                        <li><a href="#">Chính sách <b>giao hàng</b></a></li>
                        <li><a href="#">Hướng dẫn thanh toán</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-4">
                <h5 class="text-center">Cộng đồng <b>P4nthers</b></h5>
                <ul class="list-unstyled mt-3 px-5 mx-5">
                    <div class="d-flex align-items-center " style="height: 30px;">
                        <i class="fab fa-facebook-f"></i>
                        <p class="ms-2 mt-3">Fanpage <b>P4nthers</b></p>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="fab fa-youtube"></i>
                        <p class="ms-2 mt-3">Kênh youtube <b>P4nthers</b></p>
                    </div>

                </ul>
            </div>
            <div class="col-md-12 text-center mt-3">
                <p>&copy; 2023 Final Project. By NganTram xinhdep</p>
            </div>
        </div>
    </div>
</div>
</footer>

