<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/partials/header}"></th:block>
<head>
  <meta charset="UTF-8">
  <title>Giới thiệu</title>
  <link th:href="@{/css/warranty.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="row py-5 head position-relative mb-5">
    <div class="col-md-8 py-5 d-flex flex-column justify-content-center align-items-center">
      <div class="text-center my-4">
        <h1 class="fw-bold">HỆ THỐNG SHOWROOM</h1>
        <h2>TẠI P4nthers</h2>
      </div>
    </div>
    <div class="col-md-4 position-absolute end-0 top-100 translate-middle-y">
      <img src="images/panther.png" class="img-fluid">
    </div>
  </div>

</div>

</body>
<th:block th:replace="/partials/footer"></th:block>
</html>