<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link th:href="@{/css/login.css}" rel="stylesheet" />
  <title>Đăng ký</title>

</head>
<body>
<div class="Form mt-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <img src="/images/logoLogin.png" class="img-logo" style="margin-left: auto; margin-right: auto;">
        <form method="post" name="f" th:action="@{/signup}">
          <div th:if="${param.error}" class="alert alert-danger">
            Invalid username and password.
          </div>

          <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
          </div>
          <div class="form-row px-5">
            <div class="col-lg-10 mx-auto">
              <input th:value="${input_username}" name="username" id="username" class="form-control" placeholder="Tên đăng nhập">
            </div>
          </div>
          <div class="form-row px-5">
            <div class="col-lg-10 mx-auto mt-3">
              <input th:value="${input_name}" name="name" id="name" type="text" class="form-control" placeholder="Họ và tên">
            </div>
          </div>
          <div class="form-row px-5">
            <div class="col-lg-10 mx-auto mt-3">
              <input th:value="${input_password}" name="pwd" id="pwd1" type="password" class="form-control" placeholder="Mật khẩu">
              <div class="eye text-right">
                <i class="far fa-eye"></i>
              </div>
            </div>
          </div>
          <div class="form-row px-5">
            <div class="col-lg-10 mx-auto mt-3">
              <input th:value="${input_re_password}" name="pwd_confirm" id="pwd2" type="password" class="form-control" placeholder="Mật khẩu">
              <div class="eye text-right">
                <i class="far fa-eye"></i>
              </div>
            </div>
          </div>
          <!-- <div class="form-row mt-2 ml-5 text-danger error" style="display: none;">
            <p>Tên đăng nhập hoặc mật khẩu không đúng.</p>
          </div> -->
          <div class="form-group" th:if="${alert}">
            <div class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <span th:text="${alert}"></span>
            </div>
          </div>
          <div class="form-row px-5">
            <div class="col-lg-10 mx-auto mt-4">
              <button name="submit" class="button btn btn-login btn-block" value="submit"
                      type="submit">Đăng ký</button>
            </div>
          </div>

          <p class="text-center mt-2">Bạn đã có tài khoản? <a href="/login">Đăng nhập ngay</a></p>
        </form>
      </div>
      <div class="col-lg-6">
        <img src="/images/posterLogin.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $('.eye').click(function () {
        $(this).toggleClass('open');
        $(this).children('i').toggleClass('fa-eye-slash fa-eye');
        if ($(this).hasClass('open')) {
          $(this).prev().attr('type', 'text');
        } else {
          $(this).prev().attr('type', 'password');
        }
      });
    });

  </script>
</div>
</body>
</html>